In [2]:
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm
import pandas as pd

In [4]:
link='https://books.toscrape.com/catalogue/page-1.html'
res= requests.get(link)
soup=BeautifulSoup(res.text,'html.parser')

In [6]:
data=[]
for i in tqdm(range(1,51)):
    for sp in soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'):
        
        link  = sp.find_all('a')[-1].get('href')
        title = sp.find_all('a')[-1].get('title')
        img_link = sp.find('img').get('src')
        rating = sp.find('p').get('class')[-1]
        price = sp.find('p',class_='price_color').text[2:]
        stock=sp.find('p',class_='instock availability').text.strip()
    
        data.append([link,title,img_link,rating,price,stock])

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [00:00<00:00, 73.12it/s]

In [8]:
len(data)

1000

In [16]:
df = pd.DataFrame(data, columns = ['link', 'title', 'img_link', 'rating', 'price','stock'])

In [18]:
df.head()

,link,title,img_link,rating,price,stock
0,a-light-in-the-attic_1000/index.html,A Light in the Attic,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...,Three,51.77,In stock
1,tipping-the-velvet_999/index.html,Tipping the Velvet,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,One,53.74,In stock
2,soumission_998/index.html,Soumission,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,One,50.10,In stock
3,sharp-objects_997/index.html,Sharp Objects,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Four,47.82,In stock
4,sapiens-a-brief-history-of-humankind_996/index...,Sapiens: A Brief History of Humankind,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Five,54.23,In stock

In [20]:
df.to_csv('books.csv', index = False)